
<div class="nn-cart">
    <div class="panel panel-default">
        <div class="panel-body">
            <form method="post" action="/Product/search">
               @Html.TextBox("keywords",null,new { placeholder="keyword",@class="form-controll"})
            </form>
        </div>
    </div>
</div>