
<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-star-empty"></span>
        <strong>Product special</strong>
    </div>

    <div class="list-group">
        <a href="/Product/ListBySpecial/Best" class="list-group-item">Best Product</a>
    </div>
</div>